::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgba(7, 53, 26 ,0);  */
  background: rgba(133, 148, 144, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(14, 58, 48);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7e7d;
}

//

.Editor {
  border: solid 10px #073f07;
  background-color: #000040;
  padding: 10px;
  width: 200px;

  li[draggable="true"] {
    cursor: grab;
    padding: 5px;
    border: var(--border-width) solid var(--border-color);
  }

  li[draggable="true"]:active {
    cursor: grabbing;
  }
}

.Config {
  border: solid 10px #2c2d2c;
  background-color: #000040;
  padding: 10px;
  width: 200px;
}

.Pane {
  border: var(--border-width) solid #FF3f07;
  border-radius: var(--border-radius);
  padding: 5px;
  // background-color:transparent;
}

.Wave {
  border: solid 10px #127a69;
  background-color: #0b473a;
}

.Gauge {
  border: var(--border-width) solid var(--border-color);
  text-align: center;
  padding: 20px;
}