:root {
  --background-color: #FFFFFF;
  --color: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202020;
    --color: #FFFFFF;
  }
}

* {
  box-sizing: border-box;
  border: solid 1px red;
  transition: all .1s ease-in-out;
  margin: 0;
  padding: 0;
}


html,
body,
#root {
  height: 100%;
}

// Main

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color, #202020);
  color: var(--color, #FFFFFF);
}

body,
html {
  height: 100%;
  overflow: hidden;
}

#root {
  // overflow: auto;
}